In [1]:
from data_loader import load_hotel_reserve
customer_tb, hotel_tb, reserve_tb = load_hotel_reserve()

In [2]:
customer_tb

    customer_id  age    sex  home_latitude  home_longitude
0           c_1   41    man      35.092193      136.512347
1           c_2   38    man      35.325076      139.410551
2           c_3   49  woman      35.120543      136.511179
3           c_4   43    man      43.034868      141.240314
4           c_5   31    man      35.102661      136.523797
..          ...  ...    ...            ...             ...
995       c_996   44    man      34.465648      135.373787
996       c_997   35    man      35.345372      139.413754
997       c_998   32  woman      43.062267      141.272126
998       c_999   48  woman      38.172800      140.464198
999      c_1000   39    man      35.452412      139.411310

[1000 rows x 5 columns]